body{
	background-color: #000;
}

a{
	text-decoration: none;
	color:#000;
}

#mercadolibre{
	background-color: #FFFF00;
}

.product-box{
	display: inline-block;
	margin: 1em;
	background-color: #FFFFFF;
	padding: 1em;
	width: 380px;
	height: 250px;
	position: relative;
}

.product-image{
	width:200px;
	height:200px;
	background-size:100%;
	display:inline-block;
}

.product-title{
	display:inline-block;
	vertical-align:top;
	width: 130px;
	font-size: 1.3em;
}

.product-price{
	display: inline-block;
	bottom: 0;
	left: 0;
	position: absolute;
	background-color: rgba(68,141,165, 0.6);
	width: 70%;
	padding: 1em;
}