.element {
	vertical-align: top;
	float:left;
	text-decoration: none;
	font-family: Verdana, sans-serif;
}

.element .element-title {
	color: #167ac6;
	overflow: hidden;
	text-overflow: ellipsis;
}

.element .element-title:hover {
	text-decoration: underline;
}

.element-counter {
    position: relative;
    bottom: 31px;
    text-align: right;
    padding: 4px;
    background: rgba(0,0,0,0.6);
    color: #FFF;
}

.element .element-image {
	overflow: hidden;
	text-align: center;
}

.element .element-image img {
	width: auto;
	height: 100%;
}

@media (min-width: 992px) {
	.element {
		padding: 15px;
		width: 292px;
	}	
	
	.element .element-image {
		width: 292px;
		height: 164px;
	}

	.element .element-counter {
		bottom: 31px;
		padding: 4px;
	}
	
	.element .element-title {
		color: #167ac6;
		padding-top: 10px;
		height: 58px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.element .element-image {
		width: 292px;
		height: 164px;
	}

	.element-counter {
		bottom: 31px;
		padding: 4px;
	}
	
	.element .element-title {
		color: #167ac6;
		padding-top: 10px;
		height: 58px;
	}
	
	.search-elements-container {
		width: 750px;
	}

	.element {
		padding: 15px;
		width: 292px;
	}
}

@media (max-width: 767px) {
	.search-elements {
		margin-left: 15px;
		margin-right: 15px;
		padding: 15px;
	}
	
	.element {
		clear:left;
		width:100%;
	}
	
	.element .element-title {
		color: #167ac6;
		padding-top: 10px;
		height: 58px;
	}

	.element .element-image {
		width: 100%;
		height: 164px;
		background: #F0F0F0;
		border: 1px solid #E8E8E8;
		position: relative;
	}

	.element .element-image img {
		width: 100%;
		height: auto;
	}

	.element .element-counter {
		bottom: 0;
		right: 0;
		width: 100%;
		position: absolute;
	}

}


